
<ion-content class="ion-text-center ion-padding">
  <div class="container">
    <img src="../../../assets/ic_launcher.png" width="20%" alt="">
    <h1>Carga de Crédito</h1>
    <form [formGroup]="form" (ngSubmit)="Login()">
      <ion-input 
        type="email" 
        placeholder="Correo Electrónico" 
        formControlName="email" 
        errorText="Ingrese Correo Válido"
        class="ion-margin-top inp"
        fill="solid">
      </ion-input>
      <ion-input 
        type="password" 
        placeholder="Contraseña" 
        formControlName="password" 
        fill="solid"
        errorText="Contraseña Requerida"
        class="ion-margin-top inp">
      </ion-input>
      <ion-button 
        type="submit"
        fill="solid" 
        shape="round"
        class="ion-margin-top but"
        [disabled]="form.invalid">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
      <ion-button 
      fill="solid" 
      shape="round"
      class="ion-margin-top"
      (click)="iniciarAccesoRapido()"
      >
      Accesos Rápidos
      </ion-button>
      <h2 *ngIf="loginInvalido">CREDENCIALES INVÁLIDAS</h2>
    </form>
  </div>
  <div class="validando" *ngIf="validando">
    <img src="../../../assets/ic_launcher.png" width="25%" alt="">
    Validando Datos
    <ion-spinner></ion-spinner>
  </div>
  <div class="splash-animado" *ngIf="cargando">
    <img class="icon-animado" src="../../../assets/ic_launcher.png" width="25%" alt="">
  </div>
  <div *ngIf="accesosRapidos" class="fullsreen">
    <div class="contenedor">
      <ion-fab-button (click)="cerrarAccesoRapido()" size="small" color="danger" class="top-right">
        <ion-icon name="close-outline"></ion-icon>
      </ion-fab-button>
      <button class="ok" (click)="completarAdmin()">
        Admin
      </button>
      <button class="ok" (click)="completarInvitado()">
        Invitado
      </button>
      <button class="ok" (click)="completarUsuario()">
        Usuario
      </button>
      <button class="ok" (click)="completarAnonimo()">
        Anónimo
      </button>
      <button class="ok" (click)="completarTester()">
        Tester
      </button>
    </div>
  </div>
</ion-content>
